.login__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    font-weight: 400;
}

.login__header {
    flex-grow: 1;
    padding: 40px;
}

.login__header_title {
    font-size: 100px;
}

.login__header_subtitle {
    padding-top: 20px;
    font-size: 30px;
}

.login__form {
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    padding: 40px;
}

.login__form_label {
    flex-grow: 1;
}

.login__form_input {
    width: 100%;
    box-shadow: 0 6px 0 -1px #000;
    outline: 0;
    border: 0;
    height: 60px;
    transition: 0.2s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
    background-color: transparent;
    -webkit-appearance: none;
    font-size: 30px;
    color: black;
    appearance: none;
}

.login__form_errored-input {
    box-shadow: 0 6px 0 -1px red;
    color: red;
}

::placeholder {
    opacity: 1;
    color: black;
}

:-ms-input-placeholder {
    color: black;
}

::-ms-input-placeholder {
    color: black;
}

.login__form_submit-button-wrapper {
    display: flex;
    align-self: flex-end;
    margin: 40px 0 0 40px;
    width: 45%;
}

.login__form_error {
    position: absolute;
    left: 40px;
    bottom: 40px;
    color: red;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@media only screen and (max-width: 600px) {
    .login__header_title {
        font-size: 80px;
    }

    .login__header_subtitle {
        font-size: 25px;
    }

    .login__form_input {
        font-size: 25px;
    }
}